.loading {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

body {
	background: #1b1b1c;
	color: #dedede;
	font-family: Roboto Condensed;
}

#inbox {
	margin: auto;
	width: 85%;
	background: #ffffff;
	color: #1b1b1c;
}