rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sendits/{uid=*} {
      // Only allow the user to create sendits
      allow create: if request.auth != null 
                    && request.auth.uid == uid;
      // Allow anyone to access information about each sendit
      allow read: if true;
    }

    match /responses/{uid=*} {
      // Allow anyone to write a new response
    	allow write: if true;
      // But only let the user read responses
      allow read: if request.auth != null 
                  && request.auth.uid == uid;
    }

    match /users/{uid=*} {
      // Only let the user read information
    	allow read: if request.auth != null 
                    && request.auth.uid == uid;
    }
  }
}
